VITE_API_BASE_URL=http://localhost:8000/api
VITE_AUTH_TOKEN_KEY=access_token
VITE_API_KEY=
VITE_USE_MOCK_API=false
VITE_SUPABASE_URL='https://wmgfztojmcberpyiyjfy.supabase.co'
VITE_SUPABASE_ANON_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndtZ2Z6dG9qbWNiZXJweWl5amZ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEzMTczNjgsImV4cCI6MjA4Njg5MzM2OH0.-sqj8sqXkr5j0vM7wpBAPhI980ZArLZEyErXHnVHAVE'
VITE_ADMIN_EMAILS= admin@gmail.com
VITE_PASSWORD_RESET_REDIRECT_URL='http://localhost:5173'
